<header>
  <%= image_tag 'bg.jpg', id: 'bg' %>
  <%= image_tag 'moon.png', id: 'moon' %>
  <%= image_tag 'cloud1.png', id: 'cloud1' %>
  <%= image_tag 'cloud2.png', id: 'cloud2' %>
  <%= image_tag 'jet.png', id: 'jet' %>
  <%= image_tag 'ironman.png', id: 'ironman' %>
</header>
<div class="test-sec">
  <div class="test-content">
    <h2>Test Title</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sollicitudin nisl. Nam eget risus nec nisl elementum sagittis. Nam et arcu mollis, sodales lacus quis, rhoncus est. Nulla pellentesque metus sit amet neque tempor, non viverra nibh vehicula. Donec ut vestibulum risus. Duis vitae rutrum felis. Vivamus et mi quis neque lobortis tincidunt ac at tellus. Donec pretium ipsum vel aliquet suscipit. Pellentesque ut sem id diam imperdiet rhoncus. Nulla at mi dui. Curabitur quis aliquam velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas vitae ante sodales, placerat nisi a, sollicitudin tortor.
      Phasellus eget turpis scelerisque, convallis diam at, tristique dolor. Nunc accumsan ligula sed lobortis venenatis. Maecenas sit amet lorem hendrerit, laoreet turpis sit amet, tincidunt felis. Maecenas quis massa in eros pharetra facilisis eu non diam. Nulla facilisi. Morbi facilisis enim turpis, quis feugiat dolor venenatis eu. Pellentesque viverra elit eget scelerisque pellentesque.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse turpis ex, rhoncus ac tempor eu, vulputate a lorem. Nam non rhoncus urna, sed consequat magna. In euismod dui ex, nec tempor odio commodo non. Curabitur elementum convallis velit, in blandit felis vestibulum vitae. Pellentesque vulputate, ipsum at aliquet porta, tortor turpis lobortis enim, eu lacinia risus enim eget urna. Cras et pharetra felis. In hac habitasse platea dictumst. Aenean porttitor consectetur euismod. In luctus lorem in erat placerat ornare. Aliquam efficitur suscipit dignissim. Nulla viverra, nulla sed ornare ultricies, mi ligula auctor quam, at iaculis dui diam in dui. Vivamus posuere et enim sed imperdiet.</p>
  </div>
</div>
