<header>
  <%= image_tag 'bg.jpg', id: 'bg' %>
  <%= image_tag 'moon.png', id: 'moon' %>
  <%= image_tag 'cloud1.png', id: 'cloud1' %>
  <%= image_tag 'cloud2.png', id: 'cloud2' %>
  <%= image_tag 'jet.png', id: 'jet' %>
  <%= image_tag 'ironman.png', id: 'ironman' %>
</header>
<section id="main">
  <div class="container">
    <div class="search" data-controller="refresh-list">
      <%= form_with url: result_index_path, method: :get, html: { class: 'form-search', data: { refresh_list_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                     class: "input-search",
                     placeholder: 'Search...',
                     value: params[:query],
                     data: {
                      refresh_list_target: 'searchInput',
                      action: "keyup->refresh-list#update"
                    } %>
        <%= button_tag(type: 'submit', class: 'btn-override') do %>
          <div class="btn-search">GO!</div>
        <% end %>
        <div data-refresh-list-target="list">
          <!-- [...] -->
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= render 'list' %>
