<header>
  <%= image_tag 'bg.jpg', id: 'bg' %>
  <%= image_tag 'moon.png', id: 'moon' %>
  <%= image_tag 'cloud1.png', id: 'cloud1' %>
  <%= image_tag 'cloud2.png', id: 'cloud2' %>
  <%= image_tag 'jet.png', id: 'jet' %>
  <%= image_tag 'ironman.png', id: 'ironman' %>
</header>
<section id="main">
</section>
