<header>
  <%= image_tag 'bg.jpg', id: 'bg' %>
  <%= image_tag 'moon.png', id: 'moon' %>
  <%= image_tag 'cloud1.png', id: 'cloud1' %>
  <%= image_tag 'cloud2.png', id: 'cloud2' %>
  <%= image_tag 'jet.png', id: 'jet' %>
  <%= image_tag 'ironman.png', id: 'ironman' %>
</header>
<section id="main">
  <%= form_tag result_index_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-search",
      placeholder: "Search..."
    %>
    <%= submit_tag "Search", class: "btn-search" %>
  <% end %>
</section>
