<header>
  <%= image_tag 'bg.jpg', id: 'bg' %>
  <%= image_tag 'moon.png', id: 'moon' %>
  <%= image_tag 'cloud1.png', id: 'cloud1' %>
  <%= image_tag 'cloud2.png', id: 'cloud2' %>
  <%= image_tag 'jet.png', id: 'jet' %>
  <%= image_tag 'ironman.png', id: 'ironman' %>
</header>
<section id="main">
  <div class="container">
    <div data-controller="refresh-list">
      <%= form_with url: root_path, method: :get, html: { class: 'form-search', data: { refresh_list_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                 class: "input-search",
                 placeholder: 'Search...',
                 value: params[:query],
                 data: {
                  refresh_list_target: 'searchInput',
                  action: "keyup->refresh-list#update" 
                } %>
        <%= button_tag(type: 'submit', class: 'btn-override') do %>
          <div class="btn-search">GO!</div>
        <% end %>
      <% end %>
      <div class="flex-centerer">
        <div class="search-filters">
          <p><%= link_to 'ALL', root_path(cat: 'all'), class: 'filter-active' %></p>
          <p><%= link_to 'CHARACTERS', root_path(cat: 'chr') %></p>
          <p><%= link_to 'COMICS', root_path(cat: 'cmc') %></p>
          <p><%= link_to 'CREATORS', root_path(cat: 'crt') %></p>
        </div>
      </div>
      <%= render 'list' %>
    </div>
  </div>
</section>
